
.position-absolute {
  z-index: 10;
  top: 10px; /* Kiểm tra vị trí */
  right: 10px;
  display: block !;
}
.user-profile {
  background: linear-gradient(135deg, #ffffff, #f4f6f9);
  transition: all 0.3s ease;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.user-info p {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-info svg {
  width: 20px;
  height: 20px;
}