.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}

.custom-arrow.prev {
  left: 10px;
}

.custom-arrow.next {
  right: 10px;
}
