@import "tailwindcss";
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; 
    width: auto;
}

.product-card img {
    height: 220px; 
    object-fit: cover;
    width: 100%;
}

.product-card .p-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-card button {
    margin-top: auto; 
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 16px; 
    align-items: stretch; 
}
