/* CommunityResponsibility.css */
.community-responsibility {
  background-color: #fefbf4 !important;
}
.community-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  background: linear-gradient(to bottom right, #fefbf4, #fefbf4);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.title-community {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color:#8c6239;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 48px;
  background-color: #fefbf4 !important;
}

.content-section {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
  font-family: 'Arial', sans-serif;
}

.community-title {
  font-size: 1.6rem;
  color: #8c6239;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.community-content ul {
  padding-left: 20px;
  margin: 0;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #34495e;
}

.earth-section {
  flex: 1;
  height: 730px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.image-popup img {
  max-width: 70vw;
  max-height: 70vh;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  object-fit: cover;
}

.quote {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #2c3e50;
  background: #eafaf1;
  padding: 20px;
  border-radius: 12px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
