.header {
    background: linear-gradient(to right, #FAEED1, #E6D2B5); 
    border-bottom: 1px solid #EDE0CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px !important;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.header a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    color: #6B4F36; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    padding: 5px;
    margin-right: 2px;
}
.header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #B39271; 
    transition: width 0.4s ease;
}

.banner {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header {
    background-color: #FEFBF4;
    border-bottom: 1px solid #EDE0CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 40px; 
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px!important;
}
.content-placeholder {
    margin-top: 105px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: flex-start; 
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
}

.header-mid {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-link img {
  height: 80px;
}

.header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: width 0.4s ease;
}

.header a:hover::after {
  width: 100%;
}

.header .logo-link::after {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.login-form {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.content-placeholder {
  background-color: #fefbf4;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.animated {
  animation: shake 0.3s ease-in-out;
}

.user-profile{
    margin-left: 50px;
}
img {
    pointer-events: auto !important;
  }
  